---
# F5 playbook to update certificate
- name: Update SSL Client profile file
  bigip_profile_client_ssl:
         provider: "{{ provider }}"
         name: "{{ sslProfileName }}"
         partition: "{{ partition }}"
         cert_key_chain:
              - cert: "{{ sslCertName }}"
                key: "{{ sslCertName }}"
                chain: "{{ sslCertName }}"
         state: "{{ state }}"

- name: Update crt file to SSL Certificate
  bigip_ssl_certificate:
         provider: "{{ provider }}"
         name: "{{ sslCertName }}"
         partition: "{{ partition }}"
         content: "{{ lookup('file', '{{ crtFile }}') }}"
         #content: "webapidvi.dev.lpl.com.crt"
         state: "{{ state }}"

- name: Update key file to SSL Certificate
  bigip_ssl_key:
         provider: "{{ provider }}"
         name: "{{ sslCertName }}"
         partition: "{{ partition }}"
         content: "{{ lookup('file', '{{ keyFile }}') }}"
         state: "{{ state }}"

